/*  General Rules */
:root {
  --Moderate_blue: hsl(238, 40%, 52%);
  --Soft_Red: hsl(358, 79%, 66%);
  --Light_grayish_blue: hsl(239, 57%, 85%);
  --Pale_red: hsl(357, 100%, 86%);
  --Dark_blue: hsl(212, 24%, 26%);
  --Grayish_Blue: hsl(211, 10%, 45%);
  --Light_gray: hsl(223, 19%, 93%);
  --Very_light_gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);

  --para: 16px;
  --roboto: "Roboto Slab", serif;
  --rubik: "Rubik", sans-serif;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Light_gray);
  font-family: var(--roboto);
}

a {
  text-decoration: none;
  color: var(--Moderate_blue);
}
/*  End General Rules */

/* Styling main contents */
.container {
  width: 50%;
  margin: 1% 25% 5%;
  padding: 5px;
  background: transparent;
  border-radius: 10px;
  /* box-shadow: 7px 25px 33px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 7px 25px 33px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 7px 25px 33px 0px rgba(0, 0, 0, 0.45); */
}

/* Comment card */
.comment {
  background-color: var(--White);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/* Comment info that include the body of comment except the vote bar */
.comment-info {
  padding: 10px;
  color: var(--Grayish_Blue);
  flex: 1;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.main-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-desc span {
  display: block;
  margin: 0 10px;
}
.avatar {
  width: 15%;
}
.title {
  font-weight: 700;
  color: black;
}

.comment-desc {
  padding: 5px;
}

.vote span {
  display: block;
  margin: 3px;
  font-size: 1.2rem;
}
.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Light_gray);
  border-radius: 10px;
  width: max-content;
  padding: 0 4px;
  font-weight: 700;
  margin: 0 5px;
  width: 20px;
}
.sign {
  cursor: pointer;
  color: var(--Grayish_Blue);
  font-size: 1.1rem;
  transition: 0.5s ease-out;
}
.sign:hover {
  transform: scale(1.8);
}
.num {
  color: var(--Moderate_blue);
}

.reply {
  color: var(--Moderate_blue);
  cursor: pointer;
}
.reply-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--Moderate_blue);
}

/* Replied comments section */
.replied {
  padding-left: 6%;
  margin-left: 5%;
  border-left: 1px solid var(--Grayish_Blue);
  background: var(--Light_gray);
}

.you {
  background-color: var(--Moderate_blue);
  color: var(--White);
  padding: 2px 4px;
  font-size: 0.8rem;
}
.delete {
  color: var(--Soft_Red);
  cursor: pointer;
}
.mobile {
  display: none;
}

/* add comment  card*/
.add_comment {
  background-color: var(--White);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.add_comment img {
  margin-right: 10px;
  width: auto;
}
.add-comment-btn {
  background-color: var(--Moderate_blue);
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  padding: 5px;
  margin: 10px 0 0 10px;
  color: var(--White);
  font-family: var(--roboto);
  font-weight: 700;
  flex: 1;
  cursor: pointer;
}
#add {
  flex: 3;
  border-radius: 10px;
  border: 1px solid var(--Light_grayish_blue);
}
/* Media Queries for smaller screens */
@media screen and (max-width: 1284px) {
  .container {
    width: 70%;
    margin: auto 15%;
  }
}

@media screen and (max-width: 897px) {
  .container {
    width: 80%;
    margin: auto 10%;
  }
}
@media screen and (max-width: 689px) {
  * {
    font-size: 0.9rem;
  }
  .container {
    box-shadow: none;
  }
  .comment {
    flex-direction: column;
    align-items: stretch;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile-vote-reply {
    display: flex;
    justify-content: space-between;
  }
  .vote {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
  }
  .delete {
    margin-right: 10px;
  }
}
